button {
    background-color: aqua;
    height: 45px;
    width: 110px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background: #ccd5ae;
}